/*gallery 1*/

.gallery {
  display: flex;
  justify-content: flex-start;
  position: relative;
  overflow: scroll;
  overflow-y: hidden;
  height: 100vh;
  width: 100vw;
}

.photo {
  display: inline-flex;
  transition: all .3s ease;
}

.large img{
  display: flex;
  margin: 0;
  width: 100vh;
  height: 100vh;
}

section.small {
  display: flex;
  flex-direction: column;
  width: 50vh;
  height: 100vh;
}

section.small img {
  width: 50vh;
  height: 50vh;
}

/*gallery 2*/

.gallery2 {
  display: flex;
  justify-content: flex-start;
  position: relative;
  overflow: scroll;
  overflow-y: hidden;
  height: calc(100vh - 96px);
  top: 50px;
}

.large2 img{
  display: flex;
  margin: 0;
  width: calc(100vh - 96px);
  height: calc(100vh - 96px);
}

section.small2 {
  display: flex;
  flex-direction: column;
  width: calc(50vh - 48px);
  height: calc(100vh - 96px);
}

section.small2 img {
  width: calc(50vh - 48px);
  height: calc(50vh - 48px);
}

/*gallery 3*/

.gallery3 {
  display: flex;
  justify-content: center;
  position: relative;
  overflow: scroll;
  overflow-y: hidden;
  width: 80vw;
  height: 70vh;
  margin: auto;
  top: 15vh;
  box-shadow: 0 4px 22px 0 rgba(0, 0, 0, 0.4);
}

.large3 img{
  display: flex;
  margin: 0;
  width: 70vh;
  height: 70vh;
}

section.small3 {
  display: flex;
  flex-direction: column;
  width: 35vh;
  height: 70vh;
}

section.small3 img {
  width: 35vh;
  height: 35vh;
}
